.root {
  border: solid 1px #d6d6d6;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 4px 0 rgba(170, 170, 170, 0.7);
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.flexItem {
  width: 25%;
}

.flexCheckbox {
  width: 30%
}

.buttonContainer {
  padding: 10px;
  text-align: center;
}