.root {
  border: solid 1px #d6d6d6;
  background-color: #fdfcfc;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 4px 0 rgba(190, 190, 190, 0.7);
  max-width: 800px;
}

.h2 {
  text-align: center;
}

.h3 {
  border-bottom: solid 1px var(--main-color);
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.flexItem {
  width: 25%;
}

.buttonContainer {
  padding: 10px;
  text-align: center;
}