.root {
  border: solid 1px #d6d6d6;
  background-color: #fdfcfc;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 4px 0 rgba(190, 190, 190, 0.7);
  max-width: 800px;
}

.h2 {
  text-align: center;
}

.tableWrapper {
  display: block;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
}

.table th, .table td {
  border: 1px solid #d6d6d6;
  padding: 10px;
}

.table th {
  background-color: var(--diluted-main-color);
}

.table tr td:nth-child(4) {
  white-space: nowrap;
}

.linkButton {
  text-decoration: none;
  display: block;
  background-color: var(--accent-color);
  color: #f6f7f7;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
}

.thumbnail {
  text-align: center;
}

.schoolName {
  text-align: center;
}