.root {
  background-color: var(--main-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  font-size: 20px;
  border-bottom:3px solid rgba(0,0,0,0.2);
}

.root:hover {
  opacity: 0.7;
}

.root:active {
	-webkit-transform: translate(0,3px);
	-moz-transform: translate(0,3px);
	transform: translate(0,3px);
	border-bottom:none;
	}